---
import Layout from '../../layouts/Layout.astro';
import data from '../../data.js';
import { title as siteTitle } from '../../meta.js';

export function getStaticPaths() {
  return data.map((chapter: any) => ({
    params: { chapter: chapter.slug },
    props: { chapter },
  }));
}

const { chapter } = Astro.props;
const pageTitle = `${chapter.title} - ${siteTitle}`;
const description = chapter.content.map((c: any) => c.title).join(', ').toLowerCase();
---

<Layout title={pageTitle} description={description}>
  <article class="card mb-8 p-3">
    <div class="p-3">
      <nav aria-label="Breadcrumb">
        <a href="/" class="text-sm mb-5 block hover:underline">&larr; İÇİNDEKİLER</a>
      </nav>
      <h1 class="chapter-title">{chapter.title}</h1>
    </div>
    <div class="p-3">
      <ul class="list">
        {chapter.content.map((content: any) => (
          <li class="chapter-item">
            <a href={`/${chapter.slug}/${content.slug}`}>{content.title}</a>
          </li>
        ))}
      </ul>
    </div>
  </article>
</Layout>
